/******* Main settings *******/
body {
	color: #acadbc;
	background-color: #02111b;
}

.container-fluid {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	text-justify: newspaper;
}

.non-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

a {
	color: #f3a712;
	text-decoration: none;
}

a:hover {
	color: #ffcf70;
	text-decoration: none;
}

ul {
	padding: 0;
	list-style: none;
}

.header {
	width: 100%;
	position: fixed;
	margin: 0;
	background: #02111b88;
	z-index: 2;
}

.header .menu {
	margin: 0;
	padding: 0;
	float: right;
	text-align: center;
	list-style: none;
}

.header .menu .menu-item {
	font-weight: bold;
}

.header .menu .menu-item a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	color: #acadbc;
	-webkit-transition: .3s all ease-out;
	-moz-transition: .3s all ease-out;
	transition: .3s all ease-out;
}

.header .menu .menu-item:hover a {
	color: #f3a712;
}

.header .menu .menu-item.active a {
	color: #f3a712;
	border-top: 2px solid #f3a712;
	font-weight: bolder;
	font-size: 18px;
}

.footer {
	width: 100%;
	padding: 30px;
	margin: 0;
}

.footer p {
	padding: 4px;
	margin: 0;
}

/* Colors */
.yellow {
	color: #f3a712;
}

.gray {
	color: #7386a7;
}

.light-gray {
	color: #acadbc;
}

/******* Home Screen *******/
.home-screen {
	position: relative;
	width: 100%;
	margin: 0;
}

.home-screen .cover {
	position: relative;
	width: 100%;
	height: 680px;
	line-height: 680px;
	background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1907&q=80');
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

.home-screen .cover .cover-filter {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 0;
}

.home-screen .cover .cover-content {
	position: relative;
	top: 50%;
	padding: 60px;
	z-index: 1;
}

/******* Blog Screen *******/
.blog-screen {
	width: 100%;
	margin: 0;
	padding-bottom: 30px;
	text-align: center;
}

.blog-screen .caption {
	display: inline-block;
	width: 100%;
	padding: 60px;
	padding-bottom: 30px;
}

.blog-screen .caption .caption-content {
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 0;
}

.blog-screen .caption .caption-list ul li div {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blog-screen .caption .caption-list ul li div p {
	margin: 2px;
}

.blog-screen .work {
	padding: 4px 4px 12px 4px;
	text-align: justify;
}

.blog-screen .work h4 {
	padding: 16px;
	padding-bottom: 0;
}

.blog-screen .work p {
	padding: 16px;
	padding-top: 8px;
}

.blog-screen .work img {
	width: 100%;
	height: 300px;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

/******* About Screen *******/
.about-screen {
	width: 100%;
	margin: 0;
	text-align: center;
}

.about-screen .caption {
	width: 100%;
	padding: 60px 60px 0px 60px;
	background: #fff;
}

.about-screen .caption .caption-content.first {
	padding-bottom: 30px;
}

.about-screen .caption .caption-content.last {
	padding-bottom: 30px;
}

.about-screen .caption .caption-content h4 {
	width: 100%;
	text-align: center;
}

.about-screen .caption .caption-content {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	text-align: justify;
}

.about-screen .caption .caption-content .caption-with-pic {
	line-height: 30px;
	align-self: center;
	text-align: justify;
	position: relative;
}

.about-screen .caption .caption-content .pic-container {
	padding: 25px;
	text-align: center;
}

.about-screen .caption .caption-content .pic-container img {
	width: 200px;
	border: 3px solid #f3a712;
	border-radius: 50%;
	position: relative;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

.about-screen .caption .caption-list ul li div {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.about-screen .caption .caption-list ul li div p {
	margin: 3px;
}

.about-screen .caption .caption-list ul li div .item-description {
	font-size: 0.9em;
}

/******* Works Screen *******/
.works-screen {
	width: 100%;
	margin: 0;
	padding-bottom: 30px;
	text-align: center;
}

.works-screen .caption {
	display: inline-block;
	width: 100%;
	padding: 60px;
	padding-bottom: 30px;
}

.works-screen .caption.part {
	padding-top: 0px;
}

.works-screen .caption .caption-content {
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 0;
}

.works-screen .caption .caption-list ul li div {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.works-screen .caption .caption-list ul li div p {
	margin: 2px;
}

.works-screen .work {
	padding: 4px 4px 12px 4px;
	text-align: justify;
}

.works-screen .work h4 {
	padding: 16px;
	padding-bottom: 0;
}

.works-screen .work p {
	padding: 16px;
	padding-top: 8px;
}

.works-screen .work img {
	width: 100%;
	height: 300px;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

/******* Contacts Screen *******/
.contacts-screen {
	width: 100%;
	margin: 0;
	text-align: center;
}

.contacts-screen .contacts {
	width: 100%;
	padding: 60px;
	background: #fff;
}

.contacts-screen .contacts .contacts-content p {
	padding: 10px;
	text-align: center;
}

.contacts-screen .contacts .contacts-content .socials .social-item {
	text-align: center;
	display: block;
	padding: 16px;
	width: 100%;
	float: left;
}

.contacts-screen .contacts .contacts-content .socials .social-item a {
	font-size: 30px;
}

.contacts-screen .contacts .contacts-content .socials .social-item:hover a {
	padding-left: 12px;
	padding-right: 12px;
	-webkit-transition: .3s all ease-out;
	-moz-transition: .3s all ease-out;
	transition: .3s all ease-out;
}

/******* Media Queries *******/
@media only screen and (max-width: 720px) {

	/* Header */
	.header .menu {
		width: 100%;
		margin: 0;
	}

	.header .menu .menu-item {
		display: inline-block;
		width: 20%;
	}

	.header .menu .menu-item a {
		width: 100%;
	}

	.header .menu .menu-item a span {
		display: none;
	}

	/* About Screen */
	.about-screen .caption {
		padding: 12px;
		padding-bottom: 35px;
	}

	.about-screen .caption .caption-content h4 {
		padding: 30px;
		padding-bottom: 4px;
	}

	.about-screen .caption .caption-content p {
		padding-left: 12px;
		padding-right: 12px;
	}

	/* Works Screen */
	.works-screen .work.work-latest {
		padding-bottom: 35px;
	}

	/* Contacts Screen */
	.contacts-screen .contacts {
		padding: 40px 12px;
	}

	.contacts-screen .contacts .contacts-content h4 {
		padding: 30px;
		padding-bottom: 4px;
	}

	.contacts-screen .contacts .contacts-content p {
		padding-left: 12px;
		padding-right: 12px;
	}

	.contacts-screen .contacts .contacts-content .socials .social-item {
		display: block;
		width: 100%;
	}

	/* Footer */
	.footer p {
		width: 100%;
		padding: 8px;
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {

	/* Home Screen */
	.home-screen .cover .cover-filter {
		opacity: 0.7;
	}

	.home-screen .cover .cover-content {
		top: 25%;
	}

	.home-screen .cover .cover-content h1 {
		font-size: 36px;
	}

	.home-screen .cover .cover-content h2 {
		font-size: 20px;
	}

	/* Blog Screen */
	.blog-screen .caption .caption-list {
		font-size: 0.84em;
		padding-left: 12px;
		padding-right: 12px;
	}

	.blog-screen .caption .caption-list ul li div p {
		width: 100%;
	}

	.blog-screen .work img {
		height: 200px;
	}

	/* About Screen */
	.about-screen .caption {
		margin: 0px;
	}

	.about-screen .caption .caption-content {
		padding-left: 12px;
		padding-right: 12px;
	}

	.about-screen .caption .caption-content.first {
		padding-bottom: 60px;
	}

	.about-screen .caption .caption-list {
		margin: 0px;
		padding: 0px;
	}

	/* Works Screen */
	.works-screen .caption.pubstalks {
		padding-left: 0px;
		padding-right: 0px;
	}

	.works-screen .caption .caption-list {
		font-size: 0.84em;
		padding-left: 12px;
		padding-right: 12px;
	}

	.works-screen .caption .caption-list ul li div p {
		width: 100%;
	}

	.works-screen .work img {
		height: 200px;
	}

	/* Footer */
	.footer p {
		width: 100%;
		font-size: 0.9em;
		padding: 12px 6px;
		text-align: center;
	}
}